<%- include('partials/header'); -%>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="/images/ohno.png" alt="" />
    </div>
  </div>
</div>
<h1>Oops! no country with the name "<%=wrongCountryName%>" exists</h1>
<h1>Please type in the correct name</h1>

<%- include('partials/footer'); -%>
